@charset "UTF-8";

@font-face {
    font-family:'BalooDa' ;
    src: url(./fontes/BalooDa-Regular.ttf);
}


:root{
    --cor0:white;
    --cor1: #CD114E;
    --cor2: #191234;
    --cor3: black;
}

*{
    padding: 0px;
    margin: 0%;
}
body{
    overflow-x: hidden;
    background-color:var(--cor0);
}







header{
    background-color: var(--cor1);
    color: var(--cor0);
    padding: 20px;
    font-family: 'BalooDa', sans-serif;
    height: 400px;
}
header > img{
    width: 200px;
}

header > nav{
    position: absolute;
    top: 7%;
    right: 0;
    padding: 10px;
    padding-right: 120px;
    
}
header > nav > a{
    color: var(--cor0);
    text-decoration: none;
    padding: 20px;
 
  
}
header > h1{
font-size: 58px;
line-height: 65px;
position: relative;
top: -250px;
left: 100px;
}

header > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    position: relative;
    top: -220px;
    left: 100px;
}

 header > button{
    background-color: var(--cor0);
    height: 44px;
    width: 150px;
    border: none;
    border-radius: 4px;
    font: weight 500px;
    font-size: larger;
    position: relative;
    top:-640px;
    left: 100px;
}
header > button > a{
    text-decoration: none;
    color: var(--cor3);

}
header > img {
    position: relative;
  
    top: -450px;
    left: 500px;
    width: 500px;
}
header > svg{
    width: 1500px;
    border-radius: 0%;
    position: relative;
    left: -55px;
    top:300px;
}


div#logo{
    position:relative;
    top: -920px;
    left: 100px;
}



div.a {
    background-color: white;
    color: var(--cor3);
    margin-top: 300px;
    position: relative;
    font-family: 'BalooDa',Arial, Helvetica, sans-serif;
    border: 0.1px solid rgba(0, 0, 0, 0.027);
    box-shadow: 8px 7px 5px rgba(0, 0, 0, 0.060);
    -webkit-box-shadow: 5 5 2px rgba(0,0,0,0.060);
    width: 1000px;
    height: 200px;
    text-align: center;
    left: 170px;
}

div.a > ul {
    
    position: relative;
    vertical-align: center;
    display: flex;
    left: 170px;
    top: 60px;

  
    
}
div.a > ul > li{
    list-style: none;
position: relative;
}

div.a > p{
    position: relative;
    top: 35px;
}






main{
text-align: center;
padding: 50px;
}
main > p.services {
    color: var(--cor1);
    font-family: 'BalooDa', Arial, Helvetica, sans-serif;
    font-weight: lighter;

}
main > h2.what{
    font-family: 'BalooDa', Arial, Helvetica, sans-serif;
    font-size: 2em;
}

main > p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
main > ul{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter; 
    position: relative;
    display: flex;
   vertical-align: center;
   left: 170px;
   padding-top: 50px;
   padding-bottom: 0px;
}

main > ul > li{
    list-style: none;
    padding: 30px;
    border: 1px solid rgb(214, 207, 207);
    margin: 10px;
   
}







section.search{
padding: 20px;
box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.090);
border: 0.1px solid rgba(0, 0, 0, 0.048);
position: relative;
width: 1000px;
height: 400px;
background-color: var(--cor0);
margin-top: 30px;
margin-left: 180px;
}

section.search > img {
    width: 350px;
    position: relative;
    left: 70px;
    top: 45px;
}

section.search > h2{
    font-family:'BalooDa', Arial, Helvetica, sans-serif;
    position: relative;
    left: 450px;
    top: -320px;
    font-size: 2.5em;
}

section.search > p{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -320px;
    left: 450px ;
}

section.search > button {
    background-color: var(--cor1);
    height: 44px;
    width: 150px;
    border: none;
    border-radius: 4px;
    font: weight 500px;
    font-size: larger;
    position: relative;
    top: -280px;
    left: 450px;
}

section.search > button > a {
    text-decoration: none;
    color: var(--cor0);

}







section.about{
    padding: 20px;
}

section.about > img{
    width: 400px;
    position: relative;
    top: 70px;
    left: 200px;
}
section.about > p.us {
 color: var(--cor1); 
 font-family:'BalooDa', Arial, Helvetica, sans-serif ;  
 position: relative;
 top: -470px;
 left: 650px ;
}

section.about > h2{
    font-family:'BalooDa', Arial, Helvetica, sans-serif ;
    position: relative;
    top: -460px;
    left: 650px;
}

section.about > p{
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: -440px;
    left: 650px;
}

section.about > button{
    background-color: var(--cor1);
    height: 44px;
    width: 150px;
    border: none;
    border-radius: 4px;
    font: weight 500px;
    font-size: larger;
    position: relative;
    top: -400px;
    left: 650px;
}

section.about > button > a{
    text-decoration: none;
    color: var(--cor0);

}







div#numbers{
    box-shadow:  5px 5px 5px rgba(0, 0, 0, 0.116);
    border: 0.1px solid rgba(0, 0, 0, 0.034);
    position: relative;
    background-color: white;
    position: relative;
    width: 1000px;
    height: 200px;
    text-align: center;
    left: 170px;
    top: -250px;
}

div#numbers > ul.a{
text-align: center;
position: relative;
vertical-align: center;
display: flex;
top:-210px;
left:180px;

}

div#numbers > ul.a > li  {
    color: var(--cor1);
    font-family:'BalooDa', Arial, Helvetica, sans-serif;
    font-size: 4.5em;
    position: relative;
    list-style: none;
    top: 200px;
    padding: 30px;
}

div#numbers > ul.h {
    text-align: center;
    position: relative;
    vertical-align: center;
    display: flex;
    top:-280px;
    left:175px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-bottom: 150px;
    
}
div#numbers > ul.h> li {
    position: relative;
    list-style: none;
    top: 200px;
    padding: 35px;
}








div#why{
padding: 0px;
}
div#why > p#choost{
    color: var(--cor1);
    font-family:'BalooDa', Arial, Helvetica, sans-serif ;
    position: relative;
    left: 250px;
    top: -40px;
}
div#why > h2{
    color: var(--cor3);
    font-family: 'BalooDa', Arial, Helvetica, sans-serif;
    position: relative;
    left: 250px;
    top: -30px;
}

div#why > p{
    position:relative;
    left: 250px;
    top: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

div#why > ul{
    font-family: Arial, Helvetica, sans-serif;
   position: relative;
   left:250px; 
   top: 10px;
   list-style-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 10 10"><circle fill="--cor1" cx="7" cy="7" r="2"/></svg>');
}

div#why > button{
    background-color: var(--cor1);
    height: 44px;
    width: 150px;
    border: none;
    border-radius: 4px;
    font: weight 500px;
    font-size: larger;
    position: relative;
    left: 250px;
    top: 80px;
}
div#why > button > a {
    text-decoration: none;
    color: var(--cor0);
}


div#why > div#pr {
background-color: var(--cor0);
width: 220px;
height: 220px;
position: relative;
border-radius: 5px;
box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.103);
left: 700px;
margin-top: -530px;

}
div#why > div#pr > img{
border-radius: 2px;
padding: 20px;
}

div#why > div#pr > h3{
    font-family:'BalooDa', Arial, Helvetica, sans-serif ;

}
div#why > div#pr > p{
font-family: Arial, Helvetica, sans-serif;
}

div#why > div#bu {
background-color: var(--cor0);
width: 220px;
height: 220px;
position: relative;
border-radius: 5px;
box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.103);
left: 970px;
margin-top: -200px;
}
div#why > div#bu > img{
border-radius: 2px;
padding: 20px;
}
div#why > div#bu > h3{
    font-family:'BalooDa', Arial, Helvetica, sans-serif ;

}
div#why > div#bu > p{
    font-family: Arial, Helvetica, sans-serif;
}

div#why > div#pi {
    background-color: var(--cor0);
    width: 220px;
    height: 220px;
    position: relative;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.103);
    left: 700px;
    margin-top: 10px;
}
div#why > div#pi > img{
border-radius: 2px;
padding: 20px;
}
div#why > div#pi > h3{
    font-family:'BalooDa', Arial, Helvetica, sans-serif ;

}
div#why > div#pi > p{
    font-family: Arial, Helvetica, sans-serif;
}

div#why > div#in {
    background-color: var(--cor0);
    width: 220px;
    height: 220px;
    position: relative;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.103);
    left: 970px;
    margin-top: -200px;
}
div#why > div#in > img{
border-radius: 2px;
padding: 20px;
}
div#why > div#in > h3{
    font-family:'BalooDa', Arial, Helvetica, sans-serif ;

}
div#why > div#in > p{
    font-family: Arial, Helvetica, sans-serif;
}
div#why > div#cinza > img{
    width: 200px;
    position: relative;
    top:-370px;
    left:1050px;
    width: 170px;
}




div#what{
position: relative;
top: 80px;
padding-bottom: 100px;
}

div#what > p#testimonial{
    color: var(--cor1);
    font-family:'BalooDa', Arial, Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

div#what > h2{
    font-family:'BalooDa', Arial, Helvetica, sans-serif;
    text-align: center;
}

div#what > p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-bottom:70px;
}








div#mapa{
    width: 100%;
position: absolute;
align-items: center;
}

div.mapa > img{
position: relative;
left: 15%;
width: 900px;
}
div.mapa > label.texto{
    font-family:'BalooDa', Arial, Helvetica, sans-serif ;
    text-align: center;
    position: absolute;
    left: 300px;
    margin-top:250px ;
}

div.mapa > label.costumer{
text-align: center;
font-family:Arial, Helvetica, sans-serif;
position: absolute;
left: 600px;
margin-top: 330px;
font-size: 14px;
}
div.mapa > label.keya {
color: var(--cor1);
font-family:'BalooDa', Arial, Helvetica, sans-serif;
position: absolute;
left: 590px;
margin-top: 300px;
font-size: 19px;

}










div#blog{
    padding: 50px;
    padding-bottom: 100px;

}
div#blog > p#blog2{
    color: var(--cor1);
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    text-align: center;
}
div#blog > h2{
color: var(--cor3);
font-family:'BalooDa', Arial, Helvetica, sans-serif ;
text-align: center;
}
div#blog > p{
font-family: Arial, Helvetica, sans-serif;
text-align: center;
}









  div#project{
    background-color: var(--cor0);
    font-family: 'BalooDa', Arial, Helvetica, sans-serif;
    width: 700px;
    height: 160px;
    position: absolute;
    left: 350px;
    margin-top:-50px;
    border-radius: 5px;
    box-shadow: 8px 7px 5px rgba(0, 0, 0, 0.060);

}
div#project > h2{
    text-align:center;
    padding-top: 40px;

}

div#project > button{
    background-color: var(--cor1);
    height: 44px;
    width: 150px;
    border: none;
    border-radius: 4px;
    font: weight 500px;
    font-size: larger;
    position: absolute;
    left: 260px;
    top: 50%;

}

div#project > button > a{
text-decoration: none;
color: var(--cor0);
}

div#carousel {

}
div#carousel > div.carousel-item > div.carousel-inner > img{
    width: 200px;
}







footer > div#footer{
    background-color: var(--cor2);
    color: var(--cor0);
    font-family: Arial, Helvetica, sans-serif;
    height: 600px;  
    margin-top: 50px;
    position: relative;
   
}

footer > div#footer > p{
    position: relative;
   left: 150px;
   top: 250px ;
}

footer >div#footer > img{
    position: relative;
    left: 150px ;
    top: 220px;
}
  
footer > div#footer > ul.a{
   position: relative;
   left: 445px;
   top: 50px;
   list-style: none;
   display: flex;
   vertical-align: center;
   font-family: 'BalooDa', Arial, Helvetica, sans-serif;
   
   
   
    
}
footer > div#footer > ul.a > li{
 padding: 40px;
 margin: 0px;
    
}

footer >  div#footer > ul.contact {
    position: relative;
    left: 460px;
    top: 40px;
}

footer > div#footer > ul.contact > li{
    list-style: none;
}

footer > div#footer > ul.feature{
    position: relative;
    left: 650px ;
    top:-90px;
}

footer > div#footer > ul.feature > li{
 list-style: none;
}

footer > div#footer > ul.about {
 position: relative;
 left: 825px;
 top: -190px;
}

footer > div#footer > ul.about > li{
 list-style: none;
}

footer > div#footer > form > input {
    width: 200px;
    height: 51.1px;
    margin: 0px;
    position: relative;
    left: 960px;
    top: -302px;
    border-radius: 5px 0px 0px 5px;
    border: none;
}

 footer > div#footer > form > button{
    width: 50px;
    height: 51.1px;
    color: var(--cor0);
    background-color: var(--cor1);
    border: none;
    margin: 0px;
    padding: 0px;
    position: relative;
    top: -300px;
    left: 950px;
    border-radius: 0px 2px 2px 0px;
    
}

 footer> div#footer >ul#icones{
    position: relative;
    top:-200px;
    left:160px ;
 display: flex;
    vertical-align: center;
  
}
footer > div#footer > ul#icones > li{
    list-style: none;
    position: relative;
    padding: 12px;
   
}
footer > div#end{
    background-color: var(--cor1);
    color: var(--cor0);
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    font-weight: bold;
    
}

footer > div#end > p#direitos{
    position: relative;
    right: -50px;
    bottom: 0px;
    font-size: 15px;
}
footer > div#end > p#by {
    position: relative;
    left: 1100px;
    bottom: 15px;
    font-size: 15px;
    padding-bottom: 5px;
    
}